<div class="hero_login">

       
    <div class="login">
    
        <h2 class="text"> Welcome </h2>
    
    <h3></h3->
    <%= form_with do %>
        <label>Username:</label>
        <%= text_field_tag :username %><br>
        <label> Password:</label>
        <%= password_field_tag :password %>
        <%= submit_tag "Login" %>
    <% end %>
    <h3>Don't have an account? <%= link_to "Sign up here", new_user_path %></h3>
    
    </div>
    
    </div>



