<h2> Welcome! </h2>


Sign in:
<%= form_with do %>
    <label>Username:</label>
    <%= text_field_tag :username %><br>
    <label>Password:</label>
    <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
<% end %>
Don't have an account? Sign up <%= link_to "here", new_user_path %>