<div class="nav-container">
        <div class="left-nav-container">
            <div class="nav-elements">
            <%= link_to image_tag("notflix.png", size: "100x20"), welcome_path %>
            <%= link_to "TV Shows", tv_shows_path, :method => :get %>
            <%= link_to "Movies", movies_path, :method => :get %>
            </div>
        </div>
        <div class="right-nav-container">
            <%= link_to "Logout", logout_path, :method => :get %>
            <%= form_tag welcome_path, method: :get do %>
            <%= text_field_tag(:search, params[:search], placeholder: 'search...') %>
            <% end %>  
        </div> 
    </div>
    



<h1><%= @episode.episode_name %></h1>

<iframe width="560" height="315" src='https://www.youtube.com/embed/<%= @episode_id %>' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>

<h1>Create Review</h1>

<%= form_with model: @view do |f| %>
    <%= f.text_area :review, :value => "" %><br>
    <%= f.submit "Add Review" %>
<% end %>

<h1>Episode Reviews</h1>

<% @reviews.reverse.each do |r| %>
    <p><%= r.review %></p>
<% end %>




