<div class="nav-container">
        <div class="left-nav-container">
            <div class="nav-elements">
            <%= link_to image_tag("notflix.png", size: "100x20"), welcome_path %>
            <a class="nav-btn" href="<%=tv_shows_path%>">TV Shows</a>
            <a class="nav-btn" href="<%=movies_path%>">Movies</a>
            </div>
        </div>
        <div class="right-nav-container">
            <%= link_to "Logout", logout_path, :method => :get, class: "nav-btn" %>
            <%= form_tag welcome_path, method: :get do %>
            <%= text_field_tag(:search, params[:search], placeholder: 'search...') %>
            <% end %>  
        </div> 
    </div>

  
    
    <div class="hero_show" id="<%=@show.show_cover%>" style="background: url(<%=@show.show_cover%>) no-repeat center center fixed;  -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;"></div>
    



<h1 class="h1s"><%= @episode.episode_name %></h1>

<div style="text-align: center;">
    <iframe width="700" height="455" src='https://www.youtube.com/embed/<%= @episode_id %>' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>

<div class="video-center">
    <div class="ui comments" style="width: 600px">
    <h3 class="ui dividing header" style="color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;">Comments</h3>
        <% @reviews.each do |r| %>
            <div>
            <div class="comment" id="commentbox">
                    <div>
                        <a class="author" style="margin: 10px; color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;"><%=r.user.username%></a>
                        <div class="metadata">
                            <span class="date" style="color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;"><%=r.updated_at.strftime("%A, %b %d, %l:%M %p")%></span>
                        </div>
                        <div style="margin: 10px; color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;">
                            <%= r.review %>
                        </div>
                    </div>
            </div>
            </div>
        <% end %>
    </div>
</div>

<div class="video-center">
    <%= form_with model: @view do |f| %>
        <%= f.text_area :review, 
                :value => "", 
                :style => 'background-color: black; color: white;',
                size: "90x5",
                :placeholder => "add comment..." %><br>
        <%= f.submit "Comment", :style => 'background-color: black; color: white;' %>
    <% end %>
</div>



