<div class="nav-container">
        <div class="left-nav-container">
            <div class="nav-elements">
            <%= link_to image_tag("notflix.png", size: "100x20"), welcome_path %>
            <a class="nav-btn" href="tv_shows">TV Shows</a>
            <a class="nav-btn" href="movies">Movies</a>
            </div>
        </div>
        <div class="right-nav-container">
            <%= link_to "Logout", logout_path, :method => :get, class: "nav-btn" %>
            <%= form_tag welcome_path, method: :get do %>
            <%= text_field_tag(:search, params[:search], placeholder: 'search...') %>
            <% end %>  
        </div> 
    </div>
    



<h1><%= @episode.episode_name %></h1>

<div style="text-align: center;">
    <iframe width="700" height="455" src='https://www.youtube.com/embed/<%= @episode_id %>' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>


<div class="ui comments">
<h3 class="ui dividing header" style="color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;">Comments</h3>
    <% @reviews.each do |r| %>
        <div>
        <div class="comment" id="commentbox">
                <div>
                    <a class="author" style="margin: 10px; color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;"><%=r.user.username%></a>
                    <div class="metadata">
                        <span class="date" style="color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;">Today at 5:42PM</span>
                    </div>
                        <div style="margin: 10px; color: white; font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;">
                            <%= r.review %>
                        </div>
                </div>
        </div>
        </div>
    <% end %>
</div>


<%= form_with model: @view do |f| %>
    <%= f.text_area :review, 
            :value => "", 
            :style => 'background-color: black; color: white;',
            size: "90x5",
            :placeholder => "add comment..." %><br>
    <%= f.submit "Comment", :style => 'background-color: black; color: white;' %>
<% end %>




