<div class="nav-container">
        <div class="left-nav-container">
            <div class="nav-elements">
            <%= link_to image_tag("notflix.png", size: "100x20"), welcome_path %>
            <a class="nav-btn" href="<%=tv_shows_path%>">TV Shows</a>
            <a class="nav-btn" href="<%=movies_path%>">Movies</a>
            </div>
        </div>
        <div class="right-nav-container">
            <%= link_to "Logout", logout_path, :method => :get, class: "nav-btn" %>
            <%= form_tag welcome_path, method: :get do %>
            <%= text_field_tag(:search, params[:search], placeholder: 'search...') %>
            <% end %>  
        </div> 
    </div>
    

<div class="hero_show" id="<%=@show.show_cover%>" style="background: linear-gradient(to top, #000000, #3b3b3b94, transparent),url(<%=@show.show_cover%>) no-repeat center center fixed;  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    opacity: 1;">
 </div>











<div class="">
    <% @episodes.each do |episode| %>
            <%= form_with model: View.create do |f| %>
            <%= f.hidden_field :episode, value: episode.id %>
            <%= f.submit episode.episode_name %>
            <% end %>
    <% end %>
</div>

