

<%= image_tag(@show.show_cover, size: "300x250") %>

<h1><%= @show.show_name %></h1>

<% @episodes.each do |episode| %>
    <h1><%= form_with model: View.create do |f| %>
        <%= f.hidden_field :episode, value: episode.id %>
        <%= f.submit episode.episode_name %>
        <% end %>
    </h1>
<% end %>

