<div class="hero_show" id="<%=@show.show_cover%>" style="background: url(<%=@show.show_cover%>) no-repeat center center fixed;  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;">

        <!-- <h1 class="ui header">   
            <%= link_to image_tag("notflix.png", size: "500x200"), welcome_path %>
          </h1>
    
        <div class="mouse">
            <span></span>
        </div> -->
    
    </div>

<!-- <%= image_tag(@show.show_cover, size: "300x250") %> -->

<h1><%= @show.show_name %></h1>

<h1>last Episode Viewed</h1>
    <% @user_views.each do |view| %>
    <% episode = Episode.find_by(id: view.episode_id) %>
        <% if episode.show_id == @show.id %>
            <h1><%= link_to episode.episode_name, episode.video_link %></h1>
        <% end %>
<% end %>

<% @episodes.each do |episode| %>
    <h1><%= form_with model: View.create do |f| %>
        <%= f.hidden_field :episode, value: episode.id %>
        <%= f.submit episode.episode_name %>
        <% end %>
    </h1>
<% end %>

