<%= button_to "Logout", logout_path, :method => :get %>

<ul>
    <h1></h1>
    

    <h1>Comedy</h1>
        <% @comedies.map do |show| %>
            <%=link_to image_tag(show.show_cover, size: "285x165"), show_path(show.id)%>
        <% end %>

    <h1>Mystery</h1>

        <% @mysteries.map do |show| %>
            <%=link_to image_tag(show.show_cover, size: "285x165"), show_path(show.id)%>
        <% end %>
    
    <h1>Young Adult</h1>
    
        <% @young_adult.map do |show| %>
            <%=link_to image_tag(show.show_cover, size: "285x165"), show_path(show.id)%>
        <% end %>
   
    <h1>Action</h1>
    
        <% action = @action.map do |show| %>
            <%= link_to image_tag(show.show_cover, size: "285x165"), show_path(show.id)%>
        <% end %>

</ul>
