<div class="nav-container">
        <div class="left-nav-container">
            <div class="nav-elements">
            <%= link_to image_tag("notflix.png", size: "100x20"), welcome_path %>
            <a class="nav-btn" href="<%=tv_shows_path%>">TV Shows</a>
            <a class="nav-btn" href="<%=movies_path%>">Movies</a>
            </div>
        </div>
        <div class="right-nav-container">
            <%= link_to "Logout", logout_path, :method => :get, class: "nav-btn" %>
            <%= form_tag welcome_path, method: :get do %>
            <%= text_field_tag(:search, params[:search], placeholder: 'search...') %>
            <% end %>  
        </div> 
    </div>
    
<div class="hero">

        <h1 class="ui-header">   
            <%= link_to image_tag("notflix.png", size: "500x200"), welcome_path %>
          </h1>
    
        <div class="mouse">
            <span></span>
        </div>
    
    </div>
    


   

    <%if params[:search]%>
        <h2 style="color:rgb(255, 0, 0);text-align:center;">Search results:</h2>
    <% shows = @search_shows.select{|show| show.show_name.downcase.include? params[:search.downcase] }%>
    
    <%if shows.empty?%>
    
      <h2 style="color:rgb(255, 0, 0);text-align:center;">Nothing Matches Your Search Terms</h2>
    <%else%>
        <% shows.map do |show| %>
              <%= link_to image_tag(show.show_cover, size: "260x150"), welcome_path %>
        <% end %>
    <% end %>
    
    <%end%>


    <div class="contain">
        <h1 class="h1_row">Recently View</h1>
        <div class="row">
            <div class="row__inner">
                    <% @show.map do |show| %>
                    <div class="tile">
                        <div class="tile__media">
        
                                <a href="<%= show_path(show.id)%>">
                                    <img class="tile__img" src="<%= show.show_cover %>"  />
                                </a>
        
                        </div>
                    </div>
        
                    <% end %>
        
                </div>
            </div>
        </div>  

        
  <div class="contain">
        <h1 class="h1_row">Comedy</h1>
            <div class="row">
                <div class="row__inner">
        
                    <% @comedies.map do |show| %>
        
                    <div class="tile">
                        <div class="tile__media">
        
                                <a href="<%= show_path(show.id)%>">
                                    <img class="tile__img" src="<%= show.show_cover %>"  />
                                </a>
        
                        </div>
                    </div>
        
                    <% end %>
        
                </div>
            </div>
        </div>  
        <div class="contain">
            <h1 class="h1_row">Mystery</h1>
            <div class="row">
                <div class="row__inner">
        
                    <% @mysteries.map do |show| %>
        
                    <div class="tile">
                        <div class="tile__media">
        
                                <a href="<%= show_path(show.id)%>">
                                <img class="tile__img" src="<%= show.show_cover %>"  />
                                 </a>
        
                        </div>
                    </div>
        
                    <% end %>
        
                </div>
            </div>
        </div>  
    
      
        <div class="contain">
            <h1 class="h1_row">Young Adult</h1>
            <div class="row">
                <div class="row__inner">
        
                    <% @young_adult.map do |show| %>
        
                    <div class="tile">
                        <div class="tile__media">
        
                                <a href="<%= show_path(show.id)%>">
                                <img class="tile__img" src="<%= show.show_cover %>"  />
                                 </a>
        
                        </div>
                    </div>
        
                    <% end %>
        
                </div>
            </div>
        </div>  
   
      
        <div class="contain">
            <h1 class="h1_row">Action</h1>
            <div class="row">
                <div class="row__inner">
                    
                        <% @action.map do |show| %>
            
                        <div class="tile">
                            <div class="tile__media">
            
                                    <a href="<%= show_path(show.id)%>">
                                    <img class="tile__img" src="<%= show.show_cover %>"  />
                                     </a>
            
                            </div>
                        </div>
            
                        <% end %>
            
                    </div>
                </div>
            </div>  
