<!DOCTYPE html>
<html>
  <head>
    <title>NOTFLIX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= @ugly ? "" : stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
 
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <!-- <link href='style.css' rel='stylesheet' type='text/css'> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>

  </head>

  <body>







 



<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<!-- <link href='style.css' rel='stylesheet' type='text/css'> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>

</div>



<%= yield %>

  </body>
</html>
