<!DOCTYPE html>
<html>
  <head>
    <title>NOTFLIX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <br>
  <%= image_tag("notflix.png", size: "200x50") %>
    <h3>----------Sold exclusively by men who also sell shrimp out of the trunk of a rav4-----------</h3>
    <h1>_______________________________________________________________________________________________________________</h1>
  <body>
    <%= yield %>
  </body>
</html>
