<!DOCTYPE html>
<html>
  <head>
    <title>NOTFLIX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="ui sizer vertical segment">
        <h1 class="ui header">   
      <%= link_to image_tag("notflix.png", size: "200x50"), welcome_path %>
    </h1>
        <h3>----------Sold exclusively by men who also sell shrimp out of the trunk of a rav4-----------</h3>
        <h1>_______________________________________________________________________________________________________________</h1>
    </div>

  </head>

  <body>

    
        
    <%= yield %>
  </body>
</html>
